In [85]:
%matplotlib inline
import pandas
import matplotlib.pyplot as plt
import seaborn

# using pandas to print numbers in two decimal places
pandas.options.display.float_format = '{:,.2f}'.format

# sns.set(style="darkgrid")
df = pandas.read_csv('salaries.csv')
# get the first 5 rows
# df.head()

# df.shape
# prints the last five rows
# df.tail()
# list all the columns
# df.columns
# checks for NAN values 
# df.isna()
# dropping the last row
clean_df = df.dropna()
clean_df.tail()
len(df)
df.dtypes
print(f'|||||||||||{clean_df.loc[40]}')
# grttting the highest mid salary(hms)
hms = clean_df['Mid-Career Median Salary'].max()
print(hms)
# index for the highest median salary(ihms)
ihms =  clean_df['Mid-Career Median Salary'].idxmax()
print(ihms)
print(clean_df['Undergraduate Major'][8])

# Which college major has the lowest starting salary(lss)
lss = clean_df['Starting Median Salary'].min()
print(f'Lowest median salary: {lss}')
# index of lowest median salry(ilms)
ilms = clean_df['Starting Median Salary'].idxmin()
print(f'index of lowest median salry: {ilms}')
print(f'major with lowest median salary: {clean_df['Undergraduate Major'][49]}')
print(f'|||||||||||{clean_df['Undergraduate Major'].loc[49]}')

# difference between earnings in 10th and 9th(dfe)
new_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
clean_df.insert(1, 'Spread', new_col)
clean_df.head()
least_risky = clean_df['Spread'].idxmin()
print(least_risky)
print(f'[[[[[[[[[[[[[[[[[[[[[[{clean_df['Undergraduate Major'].loc[40]}')

# sorting values
# Majors with the Highest Potential
highest_spread =clean_df.sort_values(by='Spread', ascending=False)
highest_spread[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()

# Majors with the Greatest Spread in Salaries
highest_potential = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)
highest_potential[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()

# counting majors by grouping
clean_df.groupby('Group').count()

# finding the average salary by group
# clean_df.groupby('Group').mean()

|||||||||||Undergraduate Major                   Nursing
Starting Median Salary              54,200.00
Mid-Career Median Salary            67,000.00
Mid-Career 10th Percentile Salary   47,600.00
Mid-Career 90th Percentile Salary   98,300.00
Group                                Business
Name: 40, dtype: object
107000.0
8
Chemical Engineering
Lowest median salary: 34000.0
index of lowest median salry: 49
major with lowest median salary: Spanish
|||||||||||Spanish
40
[[[[[[[[[[[[[[[[[[[[[[Nursing

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16